{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="bg-black m-0">
		<div class="container bg-dark bg-gradient mt-2">
			<nav class="navbar bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand">Navbar</a>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

						<button class="btn btn-outline-success" type="submit"><a href="/post">poster</a></button>
					</form>
				</div>
			</nav>

			<div class="p-3 mb-2 bg-dark bg-gradient text-white text-center opacity-75">
				<div class="album py-5 bg-dark bg-gradient">
					<div class="container bg-dark bg-gradient">

						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
							{% for post in posts %}
								<div class="col">
									<div class="card shadow-sm">
										<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false">
											<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
										</svg>
										<div class="card-body">
											<p class="card-text">{{post.title}}</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="btn-group">
													<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
													<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
												</div>
												<small class="text-body-secondary">9 mins</small>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}

